body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

h1 {
  margin: 200px auto 0 auto;
  font-size: 5.625rem;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 2;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  color: #66BFBF;
  font-weight: normal;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

hr {
  border-top: 6px gray dotted;
  width: 4%;
  margin: 100px auto 100px;
  border-bottom: none;
}

p {
  line-height: 2;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}

.top-container {
  background-color: #caf0f8;
  position: relative;
  padding-top: 100px;
}

.middle-container {
  padding-top: 50px;
}

.bottom-container {

  background-color: #66BFBf;
  padding: 50px 0 20px;
  margin: 0;
}

.profile {
  padding-bottom: 50px;
}
.top-cloud {
  position: absolute;
  right: 300px;
  top: 40px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  bottom: 300px;
}

.contact-message {
  width: 40%;
  margin: 40px auto 60px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.pro {
  text-decoration: underline;
}

.intro {
  width: 30%;
  margin: auto;
}

.skill-row1 {
  width: 50%;
  margin: 100px auto 200px auto;
  text-align: left;
}

.skill-row2 {
  width: 50%;
  margin: 200px auto 100px auto;
  text-align: left;
}

.laughing-img {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.internet-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.footer-link {
  font-weight: bold;
}

.calculators {
  width: 50%;
  margin: auto;
}
.calculator1 {
  width: 60%
  margin: auto;
}

.calculator2 {
  width: 60%
  margin: auto;
}

.MaximumIncline {
  width: 120%;
}

.MinForce {
  width: 120%;
}

.calconic-calculator {
  width: 60%;
  text-align: center;

}



.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-me {
  margin: 30px;
}
